<div class="container">
    <h2 class="title is-4">Get voting access</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <p class="has-text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
        <br>
        <div class="columns">
            <!-- column 1 -->
            <div class="column is-one-quarter">
                <div class="field">
                    <div class="control">
                        <!-- <label for="name">Name</label> -->
                        <input id="name" class="input" type="text" placeholder="Name" formControlName="name" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <!-- <label for="name">Name</label> -->
                        <input id="email" class="input" type="email" placeholder="Email Address"
                            formControlName="email" />
                    </div>
                </div>
                <div class="field">
                    <!-- <label for="address">Address</label> -->
                    <div class="control">
                        <input id="address" class="input" type="password" placeholder="Password"
                            formControlName="password" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <!-- <label for="name">Name</label> -->
                        <button class="button is-primary" type="submit">Sign up</button>
                    </div>
                </div>

            </div>
            <!-- end of column 1 -->
        </div>
    </form>
</div>